@import 'tiny-slider/src/tiny-slider';

.slider-container {
    overflow: hidden;
    position: relative;

    &:focus,
    *:focus {
        outline: none;
    }

    figure {
        text-align: center;
        margin: 0 auto;
        padding: 0 1rem;
        overflow: hidden;
        position: relative;
        height: var(--gallery-height);
        width: var(--image-width);
    }

    img {
        display: inline-block;
        vertical-align: middle;
        object-fit: cover;
        width: var(--image-width);
        height: var(--image-height);
    }

    // .slider-item:has(a) {
        // position: relative;
        // cursor: pointer;
    // }hnjmmmmmmmmmmmmmm

    .slider-controls {
        margin: 0;
        padding: 0;
        list-style: none;

        &:focus {
            outline: none;
        }

        li {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-weight: bold;
            color: white;
            font-size: 5rem;
            mix-blend-mode: difference;

            &.prev {
                left: 1rem;

            }

            &.next {
                right: 1rem;
            }

            &:hover {
                cursor: pointer;
            }
        }

        & [disabled] {
            cursor: not-allowed !important;
        }
    }

    .lt-ie9 .slider-controls > [aria-controls] {
        line-height: 2.5em;
    }

    &.tns-pos-overlap .tns-nav {
        position: absolute;
        top: var(--nav-position-top);
        bottom: var(--nav-position-bottom);
        left: 0;
        right: 0;
        z-index: 10;
    }

    .tns-nav {
        text-align: center;

        & > [aria-controls] {
            width: 0.75rem;
            height: 0.75rem;
            padding: 0;
            margin: 0 0.25rem;
            border-radius: 50%;
            background: #ddd;
            border: 1px solid #777;
        }

        & > .tns-nav-active {
            background: #333;
        }
    }
}
