{% if gallery is not defined %}
    {% set gallery = __SELF__.gallery %}
{% endif %}

{% if gallery_filter is defined and filter is null %}
    {% set filter = gallery_filter %}
{% endif %}

{% if gallery is not null %}
    <aside
        id="gallery-{{ __SELF__.alias }}"
        class="
            xitara-gallery
            xitara-gallery-{{ __SELF__.alias }}
            {% if gallery.is_slider == 1 %}
                slider-container {{ gallery.options.slider.css_classes }}
            {% endif %}
            {{ (gallery.options['css_classes'] is defined) ? gallery.options.css_classes }}
            {{ (gallery.options.slider.is_nav_overlap == 1) ? 'tns-pos-overlap' }}
        "
        style="
            --gallery-height: {{ (gallery.options.gallery_height > 0) ? gallery.options.gallery_height ~ 'px' : '100%' }};
            --image-width: {{ (gallery.options.image_width > 0) ? gallery.options.image_width ~ 'px' : '100%' }};
            --image-height: {{ (gallery.options.image_height > 0) ? gallery.options.image_height ~ 'px' : '100%' }};
            --nav-position-top: {{ (gallery.options.slider.nav_position == 'top') ? '2rem' : 'initial' }};
            --nav-position-bottom: {{ (gallery.options.slider.nav_position == 'bottom') ? '1rem' : 'initial' }};
        "
    >
        <ul
            {% if gallery.is_slider == 1 %}
                id="slide-xitara-gallery-{{ __SELF__.alias }}"
            {% endif %}
        >
            {# direct upload #}
            {% for image in gallery.images %}
                {% if image.attributes.title|slug('-', activeLocale) in filter or not filter %}
                    <li{% if gallery.is_slider == 1 %} class="slider-item"{% endif %}>
                        {% partial __SELF__ ~ "::image"
                            imageURL=image.path
                            imageTitle=image.attributes.title
                            imageDescription=image.attributes.description
                        %}
                    </li>
                {% endif %}
            {% endfor %}

            {# image pool #}
            {% for image in gallery.options.images %}
                {% if image['image'] is defined and image.image|trim != '' %}
                    {% if image.title|slug('-', activeLocale) in filter or not filter %}
                        <li{% if gallery.is_slider == 1 %} class="slider-item"{% endif %}>
                            {% partial __SELF__ ~ "::image"
                                imageURL=image.image|media
                                imageTitle=image.title
                                imageDescription=image.description
                            %}
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>

        {# left and right controls #}
        {% if gallery.is_slider == 1 and gallery.options.slider.is_controls == 1 %}
            <ul class="slider-controls" tabindex="0">
                <li class="prev" data-controls="prev" tabindex="-1">
                    &lsaquo;
                </li>
                <li class="next" data-controls="next" tabindex="-1">
                    &rsaquo;
                </li>
            </ul>
        {% endif %}
    </aside>

    {% if gallery.is_slider == 1 and gallery.options.slider is defined %}
        {% partial __SELF__ ~ "::config_slider" config=gallery.options.slider %}
    {% endif %}

    {% if gallery.is_lightbox == 1 and gallery.options.lightbox is defined %}
        {% partial __SELF__ ~ "::config_lightbox" config=gallery.options.lightbox %}
    {% endif %}
{% endif %}
